<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registro</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
  <h1>Registro de Novo Usuário</h1>
  <form th:action="@{/registro}" th:object="${usuario}" method="post">
    <div th:if="${registroError}" class="error" th:text="${registroError}"></div>
    <div>
      <label>Username:
        <input type="text" th:field="*{username}" />
      </label>
      <div th:if="${#fields.hasErrors('username')}" class="error" th:errors="*{username}"></div>
    </div>
    <div>
      <label>Password:
        <input type="password" th:field="*{password}" />
      </label>
      <div th:if="${#fields.hasErrors('password')}" class="error" th:errors="*{password}"></div>
    </div>
    <button type="submit">Registrar</button>
  </form>
</div>
</body>
</html>
